---
---

@import "{{ site.theme }}";
#quote {
    font-size: 20px;
    font-weight: bold;
    color: ghostwhite;
}

.scrolling-images {
  width: 300px; /* adjust the width to match the number of images * image width */
  height: 300px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.scrolling-images img {
  width: 100px; /* adjust the width to match the desired width of the images */
  height: 100%;
  position: relative;
  display: inline-block;
  transition: transform 1s;
}
