---
---

@import "{{ site.theme }}";
#quote {
    font-size: 20px;
    font-weight: bold;
    color: ghostwhite;
}

.scrolling-images {
  width: 300px; /* adjust the width to match the number of images * image width */
  height: 300px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.scrolling-images img {
    width: 100px;
    height: 100%;
    position: relative;
    display: inline-block;
    animation: scroll 30s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
